@import "all.css";

html {                      /* Parámetros generales de todo el documento */
    overflow-y: auto;
    box-sizing: border-box;
}

body {
    /*position: absolute; */    /* Parámetros que solo aplican al <body> del documento */
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

.homepage {
    width: 100vw;
    height: 100vh;
    font-family: Georgia, serif;
    font-size: 20px;
}

.background {
    position: fixed;    /* Lo que hace fixed es que mantiene el video fijo, sin importar el scroll. */
    top: 0;             /* top: 0 hace que el video se fije en el punto 0 desde el tope de la página. */
    left: 0;            /* left: 0 hace que el video se fije en el punto 0 desde la izquierda de la página. */
    min-width: 100vw;    /* Establece que el ancho mínimo del video debe ser del 100%. */
    min-height: 100vh;
    z-index: -1;
}
/* -------------------------- Sección del navbar -----------------------------*/
/* Todo el navbar incluyendo las listas y los items dentro de dichas listas. */
.navbar {
    position: fixed;
    height: 100vh;
}

.nav-items {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5.8vw;
    height: 100vh;
    background-color: rgba(120, 120, 120, 0.2);
    z-index: 2;
}

.captions {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0.4vh;
    width: 5.8vw;
    height: 100vh;
    font-size: 1.2vw;
    z-index: 1;
}

.nav-items > a {
    color: white;
    padding: 3vh;
    opacity: 1;
}

.captions > li {
    color: green;
    margin-top: 0;
    padding: 2.5vh;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}


/*
/* Cada una de las listas en sí *
/* Pareciera que los settings se tiene que aplicar al CONTAINER de los items, no al navbar como tal. *
.nav-items {
    position: fixed;
    margin: 0%;     /* Este valor es el que elimina un espacio de separación entre el tope y el navbar. *
    padding: 0%;
    text-decoration: none;
    background-color: rgba(120, 120, 120, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 5vw;
    top: 0%;
    bottom: 0%;
    z-index: 5;
}
/* Items de la lista *
a#home, a#aboutme, a#projects, a#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 5vh;
    border-radius: 8px;
    width: 3vw;
    height: 5vh;
}

#home:hover, #aboutme:hover, #projects:hover, #contact:hover {
    transition: 0.1s linear;
}

.captions {
    position: fixed;
    margin: 0 0 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0%;
    bottom: 1vh;
    z-index: 2;
}

.home-cap, .aboutme-cap, .projects-cap, .contact-cap {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 6vh 0 0 0.12vw;
    width: 70px;
    height: 30px;
    /*background-color: rgba(160, 160, 160, 0.3);*
    border-radius: 8px 8px 8px 8px;
    opacity: 0;
    transition: 0.1s linear;
}

.aboutme-cap {
    font-size: 16px;
}

.inicial {
    position: fixed;
    color: white;
    font-size: 60px;
    margin: 0 0 0 0.9vw;
    top: 0;
    bottom: 100%;
    text-shadow: 5px 5px 2px rgba(180, 0, 0, 1);
}

.welcome {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 25vh;
}

.welcome .self-intro {
    padding-bottom: 2vh;
}

.welcome > small {
    font-size: 2vw;
}

.welcome .welcome-text {
    font-size: 2.5vw;
}

.welcome > h1 {
    font-size: 4vw;
    margin-top: 3vh;
}

.neonText {
    text-shadow:
        0px 0px 21px rgba(255, 255, 255, 1),
        0px 0px 31px rgba(255, 255, 255, 1),
        0px 0px 41px rgba(255, 255, 255, 1),
        0px 0px 51px rgba(70, 39, 255, 1),
        0px 0px 61px rgba(70, 39, 255, 1),
        0px 0px 71px rgba(70, 39, 255, 1),
        0px 0px 81px rgba(70, 39, 255, 1),
        0px 0px 91px rgba(70, 39, 255, 1),
        0px 0px 101px rgba(70, 39, 255, 1);
    transform: neonEffect 2s infinite;
}

/*
@keyframes neonEffect {
    0% {text-shadow:
        0px 0px 21px rgba(255, 255, 255, 1),
        0px 0px 31px rgba(255, 255, 255, 1),
        0px 0px 41px rgba(255, 255, 255, 1),
        0px 0px 51px rgba(70, 39, 255, 1),
        0px 0px 61px rgba(70, 39, 255, 1),
        0px 0px 71px rgba(70, 39, 255, 1);}
    100% {text-shadow:
        0px 0px 10px rgba(255, 255, 255, 1),
        0px 0px 21px rgba(255, 255, 255, 1),
        0px 0px 32px rgba(255, 255, 255, 1),
        0px 0px 43px rgba(70, 39, 255, 1),
        0px 0px 54px rgba(70, 39, 255, 1),
        0px 0px 65px rgba(70, 39, 255, 1);}
}
*/